@page
@model PrivacyModel
@{
    ViewData["Title"] = "Creer une Soiree";
}
<h1>@ViewData["Title"]</h1>

<h2>Dans quel soirée êtes vous ?</h2>



<select class="form-select" aria-label="Disabled select example" disabled>
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
