@page
@model PrivacyModel
@{
    ViewData["Title"] = "Creer une Soiree";
}
<h1>@ViewData["Title"]</h1>

    <div class="form-group">
        <label for="Nom">Ou se situe votre soirée ?</label>
        <input type="text" class="form-control" id="nometude" maxlength="150"
               name="nom"
               placeholder="Entrez le nom de l'espece..." required>
    </div>
    
    <label for="Nb">Combien de personne ?</label>
    <input type="text" class="form-control" id="Nb" maxlength="150"
                       name="Nb"
                       placeholder="Entrez le nombre de participant..." required>

<!--
    <script>
    function controle(){
         var saisie = document.getElementById("Nb").value;
         
         for (int i = 1; i < saisie; i++){

        <p> <div class="form-group">
                <label for="nomP">Entrer le Nom</label>
                <input type="text" class="form-control" id="nomP" maxlength="150"
                       name="nomP"
                       placeholder="Entrez le nom du participant..." required>
            </div>
            <div class="form-group">
                <label for="prenomP">Entrer le Prenom</label>
                <input type="text" class="form-control" id="prenomP" maxlength="150"
                       name="prenomP"
                       placeholder="Entrez le prenom du participant..." required>
            </div>    
        </p>
         }
    }
    
    </script>
    -->
           <div class="form-group">
                <label for="nomP">Entrer le Nom</label>
                <input type="text" class="form-control" id="nomP" maxlength="150"
                       name="nomP"
                       placeholder="Entrez le nom du participant..." required>
            </div>
            <div class="form-group">
                <label for="prenomP">Entrer le Prenom</label>
                <input type="text" class="form-control" id="prenomP" maxlength="150"
                       name="prenomP"
                       placeholder="Entrez le prenom du participant..." required>
             </div>
                       
                  
    <input type="button" id="button" value="Valider" onClick="controle()">


    


   